<body>
    <table border = "1">
        <th>코스별</th>
        <th>코스명</th>
        <th>거리(KM)</th>
        <th>소요시간</th>
        <th>시작/종점</th>
        <th>날짜</th>

        {% for item in olle_list %}
            <tr>
                <td>{{ item.course }}</td>
                <td>{{ item.course_name }}</td>
                <td>{{ item.distance }}</td>
                <td>{{ item.time_info }}</td>
                <td>{{ item.start_end_info }}</td>
                <td>{{ item.cre_date }}</td>
            </tr>
        {% endfor %}
    </table>
</body>