<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<body style='margin:30px;'>
    <table class='table table-striped'>
        <tr>
            <td>번호</td>
            <td>연도</td>
            <td>월</td>
            <td>제품명</td>
        </tr>

        {% for data in info %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.year }}</td>
            <td>{{ data.month }}</td>
            <td>{{ data.name }}</td>
        </tr>
        {% endfor %}
    </table>

    <div style='text-align:center;'>
        <ul class='pagination'>
            {% for i in page_range %}
            <li>
            <a href='{% url "paging:army_shop" %}?page={{ i }}'>
                {{ i }}
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>